<h1>Books</h1>
<% @books.each do |book| %>
  <p>Title</p>
  <span>
    <%=link_to book.title,book_path(book.id)%>
  </span>

  <p>body</p>
  <span>
    <%=link_to book.body,book_path(book.id) %>
    </span>
<% end %>
